/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.torre {
  font-family: Muli,Helvetica,Arial,sans-serif;
}

.btn-torre {
  background-color: #00acc1;
  color: #ffffff;
}

.menu-user-image {
  width: 14%;
  margin-right: 32px;
}

.menu-bio-image {
  width: 20%;
}

nav {
  height: 56px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.nav-item {
  a {
    color: #00acc1 !important;
    font-weight: bold;
  }
}

.m-t-150 {
  margin-top: 150px;
}
