.home-header {
  font-size: 24px;
  line-height: 32px;
  color: #00000061;
  text-align: center;
  font-weight: 900;
}

.home-subtitle {
  color: #000000de;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.home-body {
  margin: 60px;
}
